*{
    margin:0px;
    padding:0px;
    font-family:Georgia;
}

#logo-div{
    text-align: center; 
    margin-bottom:10px;   
}

#nav-div{
    width:100%;
    min-height:30px;
    background-color:#0e1b45;
    line-height:30px;    
    text-align: center;
    margin-bottom:10px;
}

#headerbanner-div{
    width:100%;
    min-height:100px;
    background-color:#0e1b45;
    line-height:100px;    
    text-align: center;
}

#main-div{
    margin-top:10px;
    width:100%;
    min-height:400px;
    
}

#sidebar-div{
    width:20%;
    padding-top: 100px;
    min-height:400px;
    background-color:#0e1b45;
    float:left;
    text-align:center;
    line-height:40px;
}

#bodyarea-div{
    padding-top:100px;
    width:75%;
    min-height:400px;
    background-color:#0e1b45;
    float:right;
    text-align:center;
    line-height:40px;
}

.clearfix::after{
    display:block;
    content:" ";
    clear:both;
}

#footer-div{
    margin-top:10px;   
    text-align: center;
    margin-bottom:10px;
}

#wrapper-div{
    width:90%;
    margin:auto;
    background-color: #fbd1a2;
}
